@font-face {
    font-family: 'VCR OSD Mono';
    font-style: normal;
    font-weight: normal;
    src: local('VCR OSD Mono'), url('../fnt/VCR_OSD_MONO_1.001[1].woff') format('woff');
}

body, html {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  background-color: #10012e;
    text-align:center;
}

textarea {
    font-family: "VCR OSD Mono", sans-serif;
    background-color: #33064d;
    width: 80%;
    height: 60%;
    color: #fff;
    border: none;
}

button {
    font-family: "VCR OSD Mono", sans-serif;
    width: 80%;
    background-color: #33064d;
    border: none;
    color: #fff;
    padding: 10px;
}

h1 {
    font-family: "VCR OSD Mono", sans-serif;
    color: #fff;
}